body{
    background-color: rgb(97, 97, 97);
    text-align:center;
}
h1{
    padding: 2%;
    color: bisque;
    font-size: 50px;
}
h2{
 
    color: rgb(216, 179, 135);
    font-size: 25px;
}

p{
    font-size: 30;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    
}
input{
    padding: 5px 60px;
    background-color: rgb(158, 146, 171);
    color: aliceblue;
    border: none;
    font-size: 20px;
    cursor: pointer;
    /*box-shadow: 5px 5px 10px rgb(207, 155, 224) ;*/
}
button{
    padding:10px;
    background-color: tomato;
    border: none;
    box-shadow: 5px 5px 10px rgb(134, 4, 30);

}