body {
    font-family: Arial, sans-serif;
    background-color: #c5e0f3;
  }
  
  .contenedor {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #b0dbf6;
    box-shadow: 10px 10px 5px rgba(249, 64, 13, 0.1);
  }
  
  h1 {
    color: #1829c6;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 70%;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  #datosClima {
    margin-top: 20px;
    font-size: 18px;
  }
  